doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='pragma', content='no-cache')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    link(rel='stylesheet', href='./assets/styles/index.css')
    script(src='./assets/scripts/jquery.js')
    title 2017年寻找“最美南粤少年”

  body
    .wp
